<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643302195202-p6ed6aavmn0d4b5f47fr8pa3f4bidem4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643302195202-p6ed6aavmn0d4b5f47fr8pa3f4bidem4</string>
	<key>API_KEY</key>
	<string>AIzaSyA4ZONr57_gD3M5XaWQqHuxibNd0sf5yKI</string>
	<key>GCM_SENDER_ID</key>
	<string>643302195202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerUi</string>
	<key>PROJECT_ID</key>
	<string>my-ecommer-project</string>
	<key>STORAGE_BUCKET</key>
	<string>my-ecommer-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643302195202:ios:6a3bb21c377ca54eee271b</string>
</dict>
</plist>